@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    outline: none;
    font-family: sans-serif;
}

body{
    background-color: #ebe5e5;
}

.col-md-12{
    margin: 0;
    padding: 0;
}

#logo{
    color: #414141;
    font-size: 38px;
    font-family: 'Roboto Slab', serif;
}

.nav-bar{
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

.nav-bar-left p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    color: #414141;
}

.nav-bar-right a{
    text-decoration: none;
    color: #414141;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.nav-bar-right ul{
    list-style: none;
    display: flex;
}

.nav-bar-right ul li{
    margin: 0 10px;
    font-weight: 600;
}

.nav-bar-right ul span{
    color: #48bfe3;
}

.main-area{
    display: flex;
    padding-left: 200px;
}

.main-left{
    position: relative;
    width: 420px;
    height: 420px;
    margin-top: 80px;
}

.main-left img{
    width: 30vw;
    height: auto;
    border-radius: 48vw;
}

.main-right{
    margin-top: 10vh;
    margin-left: 10vw;
}

.main-right h3{
    font-size: 6vw;
    color: #414141;
    font-family: 'Roboto Slab', serif;
}

.main-right .subheading{
    color: #414141;
    font-size: 3vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.circles-display{
    display: flex;
}

.circle1, .circle2, .circle3{
    color: #fff;
    border-radius: 48vw;
    width: 7vw;
    height: 7vw;
    text-align: center;
    padding-top: 2.8vw;
    margin: 0 5px;
    font-size: 1vw;
}

.circle1{
    background-color: #e83555;
}

.circle2{
    background-color: #60d0d4;
}

.circle3{
    background-color: #d1c926;
}

.paragraph-detail{
    width: 30vw;
    height: 18vw;
    margin-top: 3.2vw;
    font-size: 1vw;
}

.footer{
    width: 100%;
    height: 12vh;
    background-color: #e83555;
    display: inline-flex;
    color: #fff;
    justify-content: space-around;
    align-items: center;
}

.footer h4{
    font-size: 1.5vw;
}

.footer p{
    font-size: 1vw;
}

/* ======================================== */

.rcmd-cards{
    display: flex;
    justify-content: space-around;
    margin: 2vw 13vw;
}

.rcmd-text h3{
    font-size: 1.5vw;
    font-family: 'Roboto', sans-serif;
    color: #333333;
    margin-left: 13vw;
    margin-top: 3vw;
}

.card1:hover, .card2:hover, .card3:hover, .card4:hover, .card5:hover, .card6:hover, .card7:hover{
    border: 1px solid gray;
    transition: 0.5s;
    cursor: pointer;
}

/* ====================================== */

.f-outer{
    width: 55vw;
    height: 65vh;
    background-color: #5a3a94;
    margin: auto;
    margin-top: 3vw;
    position: relative;
}

.f-inner{
    width: 50vw;
    height: 50vh;
    background-color: #e5e5e5;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-40%);
    padding: 2vw;
}

.f-inner h3{
    text-align: center;
}

.f-circles{
    display: flex;
    justify-content: space-around;
    padding-top: 1.8vw;
}

.fcircle-1, .fcircle-2, .fcircle-3{
    width: 2.5vw;
    height: 2.5vw;
    border-radius: 48vw;
    text-align: center;
}

.fcircle-2 p, .fcircle-3 p{
    padding-top: 0.7vw;
    color: #585858;
}

.fcircle-2, .fcircle-3{
    background-color: #e5e5e5;
}

.fcircle-1{
    background-color: #e83555;
}

.fcircle-1 p{
    padding-top: 0.7vw;
    color: #fff;
}

form{
    margin-top: 2vw;
}

.form-control{
    height: 3vw;
    border-radius: 0.5vw;
    margin: 0.7vw 0;
}

.btn{
    border-radius: 2vw;
    width: 7vw;
    height: 3vw;
    margin-left: 20vw;
    margin-top: 1vw;
    font-size: 1vw;
}